<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  
    <appSettings>
      <add key="OfChatAPIBaseUrl" value="http://ewp-dev41.eworkplace.com:9090/plugins/restapi/v1/"/>
      <add key="ChatServerAuthenticationToken" value="V8t6ExwREEQ97a20"/>
    </appSettings>
  
</configuration>