<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ewAppsConfigFilePath" value="C:\ewApps\Server\Applications\CommonRuntime\ewApps.CommonRuntime.Common\Exception\Config\ewapps.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--NotificationWF-->

    <add key="AuthenticationServiceUri" value="http://localhost:50025/api/" />
    <add key="NotificationServiceUri" value="http://ewp-dev39.eworkplace.com:81/api/" />
    <add key="ApplicationUrl" value="http://www.google.com/" />
    <add key="ServerAPIResourcePath" value="C:\ewApps\Source\ServerApp\Common\ewApps.Common.DataService\ServerAPIResources\ED" />
    <add key="TestDocumentPath" value="..\..\..\IssueTracker.DataService.Test\TestDocuments\" />
  </appSettings>
  
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=Chat-Dev;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login.aspx" protection="All" timeout="30" name="ewAppsCookie" requireSSL="false" slidingExpiration="true" defaultUrl="~/LeftNavigation/IssueListView.aspx" cookieless="UseCookies" enableCrossAppRedirects="false" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBConnectionString" applicationName="EwpApps" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="2147483647" passwordAttemptWindow="20" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="8" />
      </providers>
    </membership>
    <browserCaps configSource="browserCaps.config" />    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>